$color-black: #000000;
$color-white: #FFFFFF;
$color-mauvelous: #EF8094;
$color-zircon: #F5F8FF;
$color-tundora: #4A4A4A;
$color-gallery: #EEEEEE;

$s-font-400: 'DM Sans 400';
$s-font-500: 'DM Sans 500';
$s-font-700: 'DM Sans 700';
$st-font-400: 'DM Serif Text 400';
$font-family: $s-font-400, sans-serif;