$color-black: #000000;
$color-white: #FFFFFF;
$color-corn: #E8C300;
$color-mine: #333333;
$color-gray: #8C8C8C;
$color-mercury: #E5E5E5;
$color-dusty-gray: #999999;

$s-font-regular: 'Open Sans Regular';
$s-font-light: 'Open Sans Light';
$s-font-bold: 'Open Sans Bold';
$font-family: $s-font-regular, sans-serif;

$d-font-regular: 'Dosis Regular';
$d-font-light: 'Dosis Light';
$d-font-500: 'Dosis 500';
$d-font-bold: 'Dosis Bold';
$font-family: $d-font-regular, sans-serif;
