@media only screen and (min-width: 769px) {
  .main {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;

    &__plan-banner {
      width: 100%;
      margin: 0 auto;

      &__wrapper {
        width: 100%;
        max-width: 1270px;
        margin: 0 auto;

        @media (max-width: 1166px) {
          display: flex;
          justify-content: center;
        }

        &__title {
          width: 100%;
          margin: 71px 0 45px 0;


          &__words {
            font-family: $st-font-400;
            font-size: 48px;
            line-height: 56px;
            text-align: center;
            color: $color-black;
          }

          &__underline {
            width: 245px;
            height: 17px;
          }
        }

        &__content-monthly {
          width: 575px;
          height: 291px;
          display: flex;
          flex-direction: column;
          align-items: center;
          border: 4px solid rgba(196, 196, 196, .3);
          box-sizing: border-box;
          border-radius: 6px;
          background: url("../assets/images/pick-your-plan/vector-monthly.png");
          margin-bottom: 40px;

          &__period {
            font-family: $st-font-400;
            font-size: 36px;
            line-height: 49px;
            text-align: center;
            color: $color-black;
            margin: 46px 0 4px -6px;
          }


          &__price {
            font-family: $s-font-400;
            font-size: 44px;
            line-height: 57px;
            text-align: center;
            letter-spacing: 0.12em;
            color: $color-black;
            margin: -2px 0 19px 6px;
          }
        }

        &__content-yearly {
          width: 575px;
          height: 291px;
          display: flex;
          flex-direction: column;
          align-items: center;
          border: 4px solid rgba(196, 196, 196, .3);
          box-sizing: border-box;
          border-radius: 6px;
          margin-bottom: 40px;
          background: url("../assets/images/pick-your-plan/vector-yearly.png");

          &__period {
            font-family: $st-font-400;
            font-size: 36px;
            line-height: 49px;
            text-align: center;
            color: $color-black;
            margin: 46px 0 4px -6px;
            opacity: 1;
          }

          &__price {
            font-family: $s-font-400;
            font-size: 44px;
            line-height: 57px;
            text-align: center;
            letter-spacing: 0.12em;
            color: $color-black;
            margin: -2px 0 19px 2px;
          }
        }

        &__bottom-title {
          font-family: $s-font-400;
          font-size: 18px;
          line-height: 23px;
          letter-spacing: 0.01em;
          color: $color-black;
          margin: 5px 0 40px -11px;
          width: 100%;
          text-align: center;
        }
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .main {
    width: 100%;
    margin: 0 auto;

    &__plan-banner {
      width: 100%;
      margin: 0 auto;

      &__wrapper {
        width: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: space-around;


        &__title {
          width: 100%;
          margin: 29px 0 29px 20px;


          &__words {
            font-family: $st-font-400;
            font-size: 42px;
            line-height: 48px;
            text-align: center;
            color: $color-black;
          }

          &__underline {

            img {
              width: 204.17px;
              height: 8.92px;
            }
          }
        }

        &__content-monthly {
          width: 305.61px;
          height: 154.67px;
          display: flex;
          flex-direction: column;
          align-items: center;
          border: 4px solid rgba(196, 196, 196, .3);
          box-sizing: border-box;
          border-radius: 6px;
          background: url("../assets/images/pick-your-plan/vector-monthly.png");
          background-size: cover;
          margin: 0 0 22px 15px;

          &__period {
            font-family: $st-font-400;
            font-size: 20px;
            line-height: 27px;
            text-align: center;
            color: $color-black;
            margin: 20px 0 2px -1px;
          }


          &__price {
            font-family: $s-font-400;
            font-size: 24px;
            line-height: 31px;
            text-align: center;
            letter-spacing: 0.12em;
            color: $color-black;
            margin: -2px 0 7px 6px;
          }
        }

        &__content-yearly {
          width: 305.61px;
          height: 154.67px;
          display: flex;
          flex-direction: column;
          align-items: center;
          border: 4px solid rgba(196, 196, 196, .3);
          box-sizing: border-box;
          border-radius: 6px;
          margin-bottom: 22px;
          background: url("../assets/images/pick-your-plan/vector-yearly.png");
          background-size: cover;

          &__period {
            font-family: $st-font-400;
            font-size: 20px;
            line-height: 27px;
            text-align: center;
            color: $color-black;
            margin: 20px 0 2px -1px;
            opacity: 1;
          }

          &__price {
            font-family: $s-font-400;
            font-size: 24px;
            line-height: 31px;
            text-align: center;
            letter-spacing: 0.12em;
            color: $color-black;
            margin: -2px 0 7px 2px;
          }
        }

        &__bottom-title {
          font-family: $s-font-400;
          font-size: 14px;
          line-height: 18px;
          letter-spacing: 0.01em;
          color: $color-black;
          margin: 0 0 40px 25px;
          width: 100%;
          text-align: center;
        }
      }
    }
  }
}

@media only screen and (max-width: 375px) {
  .main {
    width: 100%;
    margin: 0 auto;


    &__plan-banner {
      width: 100%;
      margin: 100px auto 0;

      &__wrapper {
        width: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;


        &__title {
          width: 100%;
          margin: 42px 0 60px 7px;


          &__words {
            font-family: $st-font-400;
            font-size: 48px;
            line-height: 56px;
            text-align: center;
            color: $color-black;
            margin: 0 0 9px 0;
          }

          &__underline {

            img {
              margin: 0 7px 0 0;
              width: 243.13px;
              height: 16.33px;
            }
          }
        }

        &__content-monthly {
          width: 348.33px;
          height: 188.39px;
          display: flex;
          flex-direction: column;
          align-items: center;
          border: 4px solid rgba(196, 196, 196, .3);
          box-sizing: border-box;
          border-radius: 6px;
          background: url("../assets/images/pick-your-plan/vector-monthly.png");
          background-size: cover;
          margin: 0 0 17px 13px;

          &__period {
            font-family: $st-font-400;
            font-size: 30px;
            line-height: 41px;
            text-align: center;
            color: $color-black;
            margin: 20px 0 2px -8px;
          }


          &__price {
            font-family: $s-font-400;
            font-size: 30px;
            line-height: 39px;
            text-align: center;
            letter-spacing: 0.12em;
            color: $color-black;
            margin: -2px 0 7px 1px;
          }
        }

        &__content-yearly {
          width: 348.33px;
          height: 188.39px;
          display: flex;
          flex-direction: column;
          align-items: center;
          border: 4px solid rgba(196, 196, 196, .3);
          box-sizing: border-box;
          border-radius: 6px;
          margin: 0 0 15px 14px;
          background: url("../assets/images/pick-your-plan/vector-yearly.png");
          background-size: cover;

          &__period {
            font-family: $st-font-400;
            font-size: 30px;
            line-height: 41px;
            text-align: center;
            color: $color-black;
            margin: 26px 0 2px -9px;
            opacity: 1;
          }

          &__price {
            font-family: $s-font-400;
            font-size: 30px;
            line-height: 39px;
            text-align: center;
            letter-spacing: 0.12em;
            color: $color-black;
            margin: -2px 0 10px -3px;
          }
        }

        &__bottom-title {
          font-family: $s-font-400;
          font-size: 14px;
          line-height: 18px;
          letter-spacing: 0.01em;
          color: $color-black;
          margin: 0 0 30px 14px;
          width: 300px;
          text-align: left;
        }
      }
    }
  }
}